<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand mb-0 h1" href="/">Compare Yourself!</a>

  <ul class="navbar-nav flex-row">
    <li class="nav-item mx-2" routerLinkActive="active" *ngIf="isAuthenticated">
      <a class="nav-link" routerLink="/compare">Compare</a>
    </li>
    <li class="nav-item mx-2" routerLinkActive="active" *ngIf="isAuthenticated">
      <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
    </li>
    <li class="nav-item mx-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      *ngIf="!isAuthenticated">
      <a class="nav-link" routerLink="/">Sign In</a>
    </li>
    <li class="nav-item mx-2" routerLinkActive="active" *ngIf="!isAuthenticated">
      <a class="nav-link" routerLink="/signup">Sign Up</a>
    </li>
  </ul>
</nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>